<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Dev & Dungeon{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
          <link rel="stylesheet" type="text/css" href="{{asset('assets/stylesheets/star.css')}}">
          <link rel="stylesheet" type="text/css" href="{{asset('assets/bulma-0.7.2/css/bulma.min.css')}}">
          <link rel="stylesheet" type="text/css" href="{{asset('assets/stylesheets/style.css')}}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

      <section class="hero is-primary is-medium is-bold">
          <div class="hero-head">

              <nav class="navbar">
                  <div class="container">
                      <div class="navbar-brand">
                          <a class="navbar-item" href="{{path('homepage')}}">
                            Dev & Dungeon
                          </a>
                          <span class="navbar-burger burger" data-target="navbarMenu">
                              <span></span>
                              <span></span>
                              <span></span>
                          </span>
                      </div>
                      <div id="navbarMenu" class="navbar-menu">
                          <div class="navbar-end">
                              <div class="tabs is-right">
                                  <ul>
                                    {% block menu %}{% endblock %}
                                  </ul>
                                  <span class="navbar-item">
                                      <a class="button is-white is-outlined" href="{{path("game")}}">
                                          <span class="icon">
                                              <i class="fas fa-gamepad"></i>
                                          </span>
                                          <span title="Hello from the other side">Jouer</span>
                                      </a>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </nav>

          </div>
          <div class="hero-body">
              <div class="container has-text-centered">
                  {% block head %}{% endblock %}
              </div>
          </div>

        </section>
        <div class="stary">
          <div id='stars'></div>
          <div id='stars2'></div>
          <div id='stars3'></div>
        {% block body %}{% endblock %}
        </div>



        {% block javascripts %}
          <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
          <script
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
