{# src/DC/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "base.html.twig" %}

{% block stylesheets %}
  {{parent()}}
  <style type="text/css">
    .selected {
      border: 3px solid white;
      border-radius: 5px;
    }
  </style>
{% endblock %}

{% block head %}
    <h1 class="title">
      Choix de personnage
    </h1>
    <h2 class="subtitle">
      Avant de vous lancer... Choississez le personnage que vous allez incarner !
    </h2>
    {% for label, messages in app.flashes %}
              {% for message in messages %}
                  <div class="alert alert-{{ label }}" style="margin-top:40px;">
                      {{ message }}
                  </div>
              {% endfor %}
          {% endfor %}
{% endblock %}

{% block menu %}
    <li><a href="{{path('homepage')}}">Accueil</a></li>
    <li class="is-active"><a>Personnages</a></li>
{% endblock %}

{% block body %}
<div class="container" style="margin-top:25px;">

<div class="columns">
  {% for character in characters %}
  <div class="column">
  <div class="card" style="height:100%; position:relative">
  <div class="card-image" style="position:relative;">
    <figure class="image is-4by3">
      <img class="pixel absolute-center" src="{{asset("assets/textures/player/"~character.image)}}" alt="Placeholder image" style="width:75%; height:75%;">
    </figure>
  </div>
  <div class="card-content" style="margin-bottom:25px;">
    <div class="media">
      <div class="media-content">
        <p class="title is-4 has-text-centered">{{character.name}}</p>
      </div>
    </div>

    <div class="content">
      <tables class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">

      </table>
      <a class="panel-block">
        <span class="panel-icon">
          <i class="fas fa-fist-raised" aria-hidden="true"></i>
        </span>
        Arme : {{character.defaultWeapon.name}}
      </a>
    </table>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-haykal" aria-hidden="true"></i>
      </span>
      Dégats : {{character.defaultWeapon.dammage}}
    </a>
  </table>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-wind" aria-hidden="true"></i>
    </span>
    Vitesse d'attaque : {{5 - character.defaultWeapon.fireRate / 1000}}
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-shoe-prints" aria-hidden="true"></i>
    </span>
    Vitesse de déplacement : {{character.speed * 10}}
  </a>
      <p class="box" style="margin-top:10px;">{{character.description}}</p>
    </div>
    <div class="has-text-centered" style=" position:absolute; bottom:25px; left:0px; width:100%; color:#fff">
      {% if app.user.character != null and app.user.character.id == character.id %}
        <a class="button is-primary character is-outlined" data-character="{{character.id}}">Sélectionné</a>
      {% else %}
        <a class="button is-primary character" data-character="{{character.id}}">Choisir</a>
      {% endif %}
  </div>
  </div>
</div>
</div>

  {% endfor %}
  </div>
</div>
  <footer class="footer" style="margin-top:1.5rem;">
      <div class="container">
          <div class="content has-text-centered">
              <p>
                  <a class="icon" href="https://github.com/dansup/bulma-templates">
                      <i class="fas fa-gamepad has-text-primary"></i>
                  </a>
              </p>
              <div class="control level-item">
                  <a href="https://github.com/dansup/bulma-templates">
                      <div class="tags has-addons">
                          <span class="tag is-dark">Dev & Dungeon</span>
                          <span class="tag is-primary">Damien Cortina</span>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </footer>
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script type="text/javascript">
    $('.character').on('click', function() {
      $(this).addClass('is-loading');
      var that = this;
      $.ajax({
        type: 'POST',
        url: "/app_dev.php/characterSelect",
        data: {
          character: $(that).data('character')
        }
      }).done(function(data) {
        $('.character').removeClass('is-outlined');
        $('.character').html('Choisir');
        $(that).removeClass('is-loading');
        $(that).addClass('is-outlined');
        $(that).html('Sélectionné');
      }).fail(function(jqXHR, textStatus, errorThrown) {
        if (typeof jqXHR.responseJSON !== 'undefined') {
          alert(errorThrown);
        } else {
          alert(errorThrown);
        }
      });
    })
  </script>
{% endblock javascripts %}
