{# src/DC/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "base.html.twig" %}

{% block head %}
    <h1 class="title">
      Bienvenue sur Dev & Dungeon
    </h1>
    <h2 class="subtitle">
      Dev & Dungeon est un jeu de rôle à la première personne dont le but est de défaire vos adversaire pour gagner de points,<br/> et ainsi remporter la partie...
    </h2>
    <div class="has-text-centered"><a href="{{path('game')}}" class="button is-primary is-inverted is-outlined is-medium">Jouer</a></div>
{% endblock %}

{% block menu %}
    <li class="is-active"><a>Accueil</a></li>
    <li><a href="{{path('character_select')}}">Personnages</a></li>
{% endblock %}

{% block body %}

<section class="container">
  <div class="box cta" style="margin-top:1.5rem;">
              <p class="has-text-centered">
                  <span class="tag is-primary">Nouveau</span> La première version du jeu est enfin disponible !
              </p>
  </div>
            <div class="columns features" style="margin-top:1.5rem;">
                <div class="column is-4">
                    <div class="card is-shady" style="padding:15px;">
                        <div class="card-image has-text-centered">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Choisissez un personnage </h4>
                                <p>Chacun à des caractéristiques disctinctes, et par conséquent ses points forts et faiblesses... A vous de les exploiter au mieux</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady" style="padding:15px;">
                        <div class="card-image has-text-centered">
                          <i class="fas fa-users fa-5x"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Combattez vos ennemis </h4>
                                <p>Combattez vos ennemis (et amis)! N'oubliez pas d'admirer le sympatique environnement pixélisé entre 2 coups d'épée !</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady" style="padding:15px;">
                        <div class="card-image has-text-centered">
                            <i class="fas fa-trophy fa fa-5x"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Tentez de remporter la victoire </h4>
                                <p>Soyez le plus vifs pour dominer la partie ! Celui qui obtient le plus de points l'emporte ! Mais n'oubliez pas que ce n'est qu'un jeu...</p>
                            </div>
                        </div>
                    </div>
                </div>
</div>
</section>
<footer class="footer" style="margin-top:1.5rem;">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <a class="icon" href="https://github.com/dansup/bulma-templates">
                    <i class="fas fa-gamepad has-text-primary"></i>
                </a>
            </p>
            <div class="control level-item">
                <a href="https://github.com/dansup/bulma-templates">
                    <div class="tags has-addons">
                        <span class="tag is-dark">Dev & Dungeon</span>
                        <span class="tag is-primary">Damien Cortina</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block javascripts %}

{{parent()}}

{% endblock %}
